<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--ProvinceRecordDao的Mapping映射文件 存储方法所使用的SQL语句-->
<!--一个mapper对应着一个Dao类 每一个select语句对应一个方法要执行所使用的SQL语句-->
<!--id必须等于对应类的方法名(为了使方法和SQL语句产生映射关系) resultType代表返回值的类型-->
<mapper namespace="org.exh.epidemic_covid19_analyse_system.dao.ProvinceRecordDao">
    <select id="selectList" resultType="org.exh.epidemic_covid19_analyse_system.entity.ProvinceRecord">
        SELECT pname,exactDate,totalNum,healedNum,deadNum,increasedNum
        FROM province_epidemic_table
    </select>
    <select id="selectListByPname" resultType="org.exh.epidemic_covid19_analyse_system.entity.ProvinceRecord">
        SELECT pname,exactDate,totalNum,healedNum,deadNum,increasedNum
        FROM province_epidemic_table
        WHERE pname=#{pname}
    </select>
    <select id="selectOneByPnameAndDate" resultType="org.exh.epidemic_covid19_analyse_system.entity.ProvinceRecord">
        SELECT pname,exactDate,totalNum,healedNum,deadNum,increasedNum
        FROM province_epidemic_table
        WHERE pname=#{pname} AND exactDate=#{exactDate}
    </select>
</mapper>